
.icon-music:before { content: '\e800'; } /* '' */
.icon-signal:before { content: '\e801'; } /* '' */
.icon-star-empty:before { content: '\e802'; } /* '' */
.icon-location:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-photo:before { content: '\e805'; } /* '' */
.icon-play-outline:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\e807'; } /* '' */
.icon-chart-line:before { content: '\e808'; } /* '' */
.icon-mobile:before { content: '\e809'; } /* '' */
.icon-heart:before { content: '\e80a'; } /* '' */
.icon-cog:before { content: '\e80b'; } /* '' */
.icon-ok-circled2:before { content: '\e80c'; } /* '' */
.icon-right-1:before { content: '\e80d'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-lock:before { content: '\f512'; } /* '' */